@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;

    font-size: 16px;
    user-select: none;

    font-family: 'Roboto Mono', monospace;

    overflow: hidden;

    white-space: nowrap;

    --col1: #111;
    --col1-1: #222;
    --col2: #fff;
    --col3: #a9bbf7;
    /* --col1: #89F5D8;
    --col1-1: #215C4C;
    --col2: #A8563D; */
}

body {
    margin: 0;
    padding: 0;
    
    height: 100vh;
    
    display: flex;
    flex-direction: column;
}

header {
    flex: 1;

    display: flex;

    color: var(--col2);

    background-color: var(--col1);
    box-shadow: 0 0 2vh var(--col1);

    z-index: 5;
}
#stage-symbol {
    flex: 2;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    opacity: 0.3;
    text-shadow: 0 0 0.3vh #fff;
    font-size: 7em;
    font-weight: 1000;
    text-align: center;
}
#stage-info {
    flex: 5;

    display: flex;
    flex-direction: column;
}
#stage-info > div {
    position: relative;

    flex: 1;

    padding-left: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: left;
}
#stage-info > div::before {
    top: 0;
    left: 5%;
    position: absolute;

    font-size: 0.3em;

    opacity: 0.4;
}
#stage-title::before {
    content: "Title";
}
#stage-description::before {
    content: "Goal";
}
#stage-title {
    border-radius: 0 0 0 2vh;

    font-weight: bolder;
    background-color: var(--col1-1);
}
#stage-description {
    background-color: #0000;
}


main {
    flex: 10;

    background-color: var(--col1-1);
}

#merge-field {
    position: relative;
    margin: 0 auto;

    width: 80vw;
    height: 100%;

    background-color: #8888;
    box-shadow: 0 0 1.5vh var(--col1-1) inset;
    border-radius: 5vh;
}
.merge-item {
    display: inline-block;
    padding: 0.15vh 0.3vw;

    position: absolute;

    font-size: 2.4em;
    color: #fff;

    background-color: #1111;

    cursor: pointer;
    transition: color 0.6s cubic-bezier(0,.67,0,.99),
        transform 0.6s cubic-bezier(0,.67,0,.99),
        background-color 0.6s cubic-bezier(0,.67,0,.99);
}
.merge-item:hover {
    transform: scale(1.4);
}
.merge-item:active {
    color: var(--col1);

    transform: scale(1.1);
    background-color: var(--col2);

    transition: color 3s cubic-bezier(0,.67,0,.99),
        transform 3s cubic-bezier(0,.67,0,.99),
        background-color 3s cubic-bezier(0,.67,0,.99);
}

.context-menu {
    position: absolute;
    padding: 0.7vh;
    
    color: var(--col2);
    
    box-shadow: 0 0 1vh var(--col1-1);
    
    border-radius: 0.2vh;
    background-color: var(--col1-1);
}
.context-menu > .title {
    padding: 0.2vh 0.9vw;
    margin-bottom: 0.6vh;

    min-width: 10vw;

    color: var(--col2);
    font-size: 1.2em;

    border-radius: 0.3vh;
    background-color: var(--col1);
    box-shadow: 0 0 0.4vh var(--col1);
}
.context-menu > .item-container > div {
    padding-left: 0.3vw;

    border-radius: 0.4vh;

    cursor: pointer;
}
.context-menu > .item-container > div:hover {
    background-color: #fff4;
}